/******** 
reset 
********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}


/******** 
common
********/

.container {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
}

.debug {
  /* display: none; */
  border: 1px dashed #000000;
}

.none {
  display: none;
}

.inl {
  display: inline;
}

.inl-bl {
  display: inline-block;
}



/******** 
Header
********/

header {
  background-color: lightgray;
  padding: 20px;
}



/******** 
Main
********/

main {
  padding: 30px;
}

button {
  margin-left: 30px;
  padding: 10px;
  border-radius: 10px;
}